@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&display=swap');

body {
    font-family: 'Londrina Solid', 'sans-serif';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: var(--colorbody);
}

section {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
}

nav {
    width: 100%;
    background-color: var(--colornav);
    color: var(--colorbody);
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center ;
    position: fixed;
}

.central-nav {
    display: flex;
    justify-content: space-around;
    gap: 40px;
}

.navigation {
    color: var(--colorbody);
    font-size: 20px;
    text-decoration: none;
}
.navigation:hover {
    color: var(--colorlang);
}

.right-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.pick-a-color {
    display: flex;
    flex-direction: column;
}

.color {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--colorbody);
    cursor: pointer;
}

.language {
    color: var(--colorlang);
    cursor: pointer;
}

.language-dropdown {
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 70px;
    height: auto;
    gap: 15px;
    margin-top: 35px;
    margin-bottom: -150px;
    display: none;
}

.flag {
    width: 50px;
    height: 36px;
    cursor: pointer;
}
.flag:hover {
    opacity: 50%;
}

.product-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 150px;
    padding-right: 100px;
    padding-top: 130px;
    padding-bottom: 30px;
    gap: 50px;
}

.photo-price {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 26px;
    color: var(--colornav);
}

.small-headline {
    font-size: 22px;
    background-color: #307dc1;
    width: 98%;
    text-align: center;
    border: 1px solid #307dc1;
    color: var(--colorsmart);
    padding: 10px;
    box-shadow: -2px 1px 30px -10px rgba(0, 0, 0, 0.7);
    border-radius: 8px;
}

.options {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
}


h1 {
    /* font-size: 32px; */
    color: var(--colornav);
}

p {
    /* font-size: 18px; */
    color: var(--colornav);
}

table {
    border: 1px solid rgb(0, 0, 0);
    width: 100%;
    box-shadow: -2px 1px 30px -10px rgba(0, 0, 0, 0.6);
    background-color: whitesmoke;
    margin-bottom: 20px;
    border-radius: 8px;
}

td {
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 7px;
    padding-left: 17px;
}

.player {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    margin: auto;
    padding-top: 30px;
}

.small-headline-1 {
    font-size: 22px;
    background-color: #307dc1;
    width: 86%;
    text-align: center;
    border: 1px solid #307dc1;
    color: var(--colorsmart);
    padding: 10px;
    margin-left: 105px;
    box-shadow: -2px 1px 30px -10px rgba(0, 0, 0, 0.7);
    border-radius: 8px;
}

button {
    background-color: rgb(43, 108, 228);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    color: var(--colorsmart);
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    border: 1px solid darkblue;
    cursor: pointer;
    box-shadow: -2px 1px 30px -10px rgba(0, 0, 0, 0.7);
}

.monitor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

video {
    width: 87%;
    height: auto;
    border: 1px solid var(--colornav);
    padding: 5px;
    box-shadow: -2px 1px 30px -10px rgba(0, 0, 0, 0.7);
}

.active {
    color: violet;
}

.specification {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.spec-table {
    background-color: #d0f8ff;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    color: black;
    border-radius: 8px;
}

.spec-table > :nth-child(even){
    background-color: var(--colorsmart);
}

.row {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 100%;
}

.row:hover {
    cursor: pointer;
}

ul {
    display: none;
    width: 60%;
}

ul.visible {
    display: block;
}

li {
    padding: 5px;
    color: rgba(0, 0, 0, 0.5);;
}
li:hover {
    background-color: whitesmoke;
    width: 98.5%;
}

.ab {
    width: 40%;
    text-decoration: none;
    color: #307dc1;
}

span {
    padding: 15px;
    font-weight: 700;
}


.light-version {
    --colorbody: #FFFFFF;
    --colornav: #000000;
    --colorsmart: #ffffff;
    --colorlang: #d0f8ff;
    /* --logoimg: url("./images/telenor-logo-black.jpg");
    --watchimg: url("./images/Huawei-Watch3Pro.jpg"); */
}

.dark-version {
    --colorbody: #000000;
    --colornav: #ffffff;
    --colorsmart: #ffffff;
    --colorlang: #307dc1;
    /* --logoimg: url("./images/telenor-logo-white.jpg");
    --watchimg: url("./images/Huawei-Watch3Pro-black.jpg"); */
}


@media (max-width: 430px) {

    nav {
        flex-wrap: wrap;
    }

    .central-nav {
        margin-top: -20px;
        margin-bottom: 20px;
        gap: 18px;
    }

    .right-part {
        width: 100%;
        justify-content: space-around;
        margin-bottom: 10px;
    }
    
    .product-page {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 200px;
        text-align: center;
        gap: 0px;
        padding-bottom: 10px;
    }

    .options {
        width: 80%;
        margin-bottom: 15px;
    }

    .player {
        padding-top: 25px;
        padding-bottom: 25px;
        width: 80%;
        text-align: center;
    }

    .small-headline-1 {
        width: 80%;
        margin: auto;
    }

    .monitor {
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 20px;
    }

    button {
        width: 50px;
        height: 50px;
        font-size: 18px;
        line-height: 20px;
        order: 2;
    }

    .ab {
        width: 65%;
    }

    br {
        display: none
    }

}

